version: "3.9"
services:
  db:
    build:
      context: ./docker
      dockerfile: Dockerfile
    container_name: aix-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: aix
    volumes:
      - db:/var/lib/postgresql/data

volumes:
  db:
    driver: local
