services:
  db:
    image: mysql:8.1
    container_name: mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=aix
      - MYSQL_USER=aixmin
      - MYSQL_PASSWORD=aix
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: